extends layouts/main

block content
    .postDeatil_container
        .postDetail_column
            image(src=`${posts.imageUrl}` width=200 height= 500)
            h3.postTitle= `제목 : ${posts.title}`
            if posts.divide === 1
                h3.postDivide= `분류 : 공모전`
            else if posts.divide === 2
                h3.postDivide= `분류 : 장학금`
            else if posts.divide === 3
                h3.postDivide= `분류 : 대외활동`
            else    
                h3.postDivide= `분류 : 기타`
            h3.postTarget= `응모대상 : ${posts.target}`
            h3.postAgency= `주최기관 : ${posts.agency}`
            h3.postPeriod= `기간 : ${posts.period}`
            h3.postAmount= `총 상금 : ${posts.amount}`
            a(href=`${posts.link}`)
                h3.postLink= `홈페이지 주소 : ${posts.link}`
            h3.postText= ` 내용 : ${posts.text}`
            h3.postCreateAt= `업데이트 날짜 : ${posts.createdAt}`
            h3.postView= view

        .postDetail_column
            .seeboard_column
                if user
                    form#seeboardFormInUser
                        h4#userNickName= user.nickName
                        textarea(id= "seeboardText" name="comment" cols="100", row="150" placeholder="의견을 적어주세요")
                        button(type="submit") 글 쓰기
                    form#seeboardFormInUserDelete
                        button(type="submit") 글 삭제하기
                else
                    span= `Guest는 댓글에 참여 할 수 없습니다.`
            .seeboard_column
                for item in comments
                    span= item.nickName
                    h3= item.comment
                    p= item.createdAt

                        
