mixin postSimpleShowView(post={})
    .postSimpleColumn
        a(href=`post/${post.id}`)
            image.simple(src=`${post.imageUrl}` width= 200 height= 400)     
            h3.simpleTitle= post.title
            h3.simpleDivide= post.divide
            h3.simpleSepareate= post.separate
            h3.simpleTarget= post.target
            h3.simpleView= post.view
            h3.simpleCreatedAt= post.created_at